* {
    -primarycolor1: #7CAD6C;
    -backgroundcolor1: #C4C4C4;
    -backgroundcolor2: #E5E5E5;
}

.green-button {
	-fx-background-color: #7DAD6C;
	-fx-background-radius: 0px;
	-fx-font-size: 24;
    	-fx-font-family: "Arial Hebrew Scholar";
    	-fx-text-fill: #FFFFFF;
 
}

.grey-button {
	-fx-background-color: #C4C4C4;
	-fx-background-radius: 0px; 
	-fx-font-size: 18;
    	-fx-font-family: "Arial Hebrew Scholar";
    	-fx-text-fill: #332E2D ;
}

.li-button {
	-fx-background-color: #7DAD6C;
	-fx-background-radius: 0px;
	-fx-font-size: 18;
    	-fx-font-family: "Arial Hebrew Scholar";
    	-fx-text-fill: #FFFFFF;

}

.combobox{
	-fx-background-color: #FFFFFF;
	-fx-border-color: #000000;
    	-fx-border-width: 1px;
    	-fx-border-radius: 1px;
}

.wizard-stage{
	-fx-background-color: #C4C4C4;
	-fx-background-radius: 60px;
	-fx-font-size: 18;
    	-fx-font-family: "Arial Hebrew Scholar";
    	-fx-text-fill: #000000 ;
}

.wizard-stage-green{
	-fx-background-color: #7DAD6C;
	-fx-background-radius: 60px;
	-fx-font-size: 18;
    	-fx-font-family: "Arial Hebrew Scholar";
    	-fx-text-fill: #000000 ;

}

.header-text {
    -fx-font-size: 16;
    -fx-text-fill: #000000;

}

.header-background {
    -fx-background-color: -backgroundcolor1;
}

.background {
    -fx-background-color: -backgroundcolor2;
}

.windows {
    -fx-background-color: #FFFFFF;
}

.title-text{
    -fx-font-size: 48;
    -fx-font-family: "Arial Hebrew Scholar";
    -fx-text-fill: #000000;
}
.text-larger{
    -fx-font-size: 24;
    -fx-font-family: "Arial Hebrew Scholar";
    -fx-text-fill: #000000;
}

.text-body {
    -fx-font-size: 14;
    -fx-font-family: "Arial Hebrew Scholar";
    -fx-text-fill: #000000;
}

.warning-background{
    -fx-background-color: #FFCC00;
}

.check-now-border {
    -fx-border-color: red;
}

.check-soon-border {
    -fx-border-color: #FFCC00;
}

.check-done-border {
    -fx-border-color: #F5F5F5;
}

.text-field {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
}
.bookingTextLabel{
    -fx-font-family: "Helvetica"; /* Vet inte om vi ska ha Helvetica, men det var den jag hittade som jag kunde göra bold.*/
    -fx-font-weight: bold;

}



/*------------------------- Booking Handler ------------------------------*/

